.dropbtn{
    background-color:#3498DB;
    color:white;
    padding:16px;
    margin:5%;
    font-size:16px;
    width: 75%;
    height:50%;
    border:none;
    cursor:pointer;
}
.dropbtn:hover, .dropbtn:focus{
    background-color: #2980B9;
}
.dropdown{
    position: relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow:auto;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2)
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown a:hover {background-color : #ddd;}
.show{display:block}
body{
    font-size: 67.5%;
    font-family:Tahoma, Geneva, sans-serif;
    background:#9EE6F0;;
    padding:0;
    margin: 0;
    -webkit-background-size:100% 100%;
    -moz-background-size:100% 100%;
    background-size:100% 100%;
    -o-background-size:100% 100%;
}
.contentWrapper{
    margin:0 auto;
    max-width:1170px;
    padding: 0 3.0em;

}.left{
    float:left;
}
.right{
    float:right;
}
header{
    background:white url(assets/kittens.jpg) center 0px;
    padding: 2.5em 0 0.5em;
    margin:0 0 2.0em;
    height: 300px;

}
nav{
    color:rgb(12, 12, 12);
    font-size:2.0em;
    padding:1.0px 1.0px 0.5px;
    margin:5px;
    text-align: right;
}
nav ul{
    margin:0;
    padding:0;
    list-style:none;
}
nav li{
    display: inline-block;
    margin:0;
}
nav li a, nav li a:visited{
    text-decoration: none;
    color:white;
    padding:0.3em 0.6em;
}
nav li a:hover{
    color:white;
    background-color:rgba(252,251,243,0.75)
}
section#searchContainer{
    float:left;
    position: relative;
    display:inline-block;
    background-color: #F0C19E;
    margin:1.5em 1.5em 3.0em 1.5em;
    padding:1.7em 0.5em 2.0em 1.7em;
    border:#c3ebd6 solid 5px;
    width:200px;
    height:400px;
    border-radius:2em;
    box-shadow:1px 1px 5px #777;

}
section#main{
    background-color:rgba(252,251,243,0.7);
    width:800px;
    height:650px;
    display:inline-block;
    border-radius:2em;
    box-shadow:1px 1px 5px #777;
    
}
section#main h1{
    text-align:center;
    font-weight: bold;
    font-size:30px;
     
}
section div.card{
    float:left;
    postition:relative;
    width:200px;
    margin: 0 0.5em 1.5em 0.5em;
    padding:5px;
    background-color: #F0C19E;
    text-align:center;
    border: rgb(245, 200, 200) solid 10px;
    border-radius:10px;

}
section div.card img.catType{
    height:100px;
    width:100px;
    border-radius:15px;
}
footer{
    background-color:#40362f;
    height:75px;
    font-size:1.2 em;
    color:#fff;
    text-align:center;
    padding: 1.5em 2.0em;
}
div.social img.socialIcon{
    width:20px;
    height:20px;
}
div.trick{
    clear:both;
    font-size:1%;
}
footer ul#socialFooter{
    display:inline-block;
    list-style:none;
    margin:0 0 0 0.6em;
    padding: 0;
    color:white;

}
footer ul li{
    display:inline-block;
    list-style:none;
    margin:10px;
    padding:10px;
    margin:0; 
    color:white;
}
footer {
    color:white;
}
